body{
  background-color: #E0FBFC;
  margin: auto 2% ;
}

#nome{
  font-family: 'Montserrat', sans-serif;
}       

.font-descr {
  font-family: 'Roboto',sans-serif;
}    

.color-destaque{
  color: #EE6C4D;
}

.tamP{
  font-size: 12px;
}

.tamM{
  font-size: 15px;
}

.tamG{
  font-size: 19px;
}

.tamGG{
  font-size: 24px;
}

.nome {
  text-align: center;
}

.foto {
  float: left; 
  background-color: #EE6C4D;
  padding: 20px; 
}

.sobre {
  width: 500px;
  float: left;
  margin-left: 50px;
}

.skills{
  margin: 20px;
}

.descricao{
  margin: 20px;
}

.skills li:nth-of-type(2n - 1){
  font-style: italic;
}