@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #081a33;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #d8e3e7;
  overflow: hidden;
}

/* ***** HEADER ***** */

.header {
  font-family: 'Ubuntu Mono', monospace;
  padding: 30px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  color: #d8e3e7;
  text-decoration: none;
  transition: all 0.3s ease;
}

.logo:hover {
  color: #51c4d3;
  font-size: 1.6em;
}

.nav-bar {
  width: 400px;
}

.nav-bar .menu{
  display: flex;
  justify-content: space-between;
}

.nav-bar .menu .pages {
  list-style: none;
}

.nav-bar .menu .pages a{
  color: #d8e3e7;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-bar .menu .pages a:hover {
  color: #51c4d3;
  font-size: 1.1em;
}

/* ***** MAIN - GERAL SECTION ***** */

.container {
  max-width: 1920px;
  height: 100vh;
  padding: 0 3%;
}

/* ***** HOME ***** */

.home {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call-name {
  margin-bottom: 20px;
  font-size: 1.3em;
  color: #51c4d3;
  font-family: 'Ubuntu Mono', monospace;
}

.name {
  font-size: 5em;
  margin-bottom: 10px;
}

.job-description {
  color: #126e82;
  font-size: 4em;
  margin-bottom: 20px;
}

.short-description {
  width: 60%;
}

.text-short-description {
  line-height: 1.5;
  text-align: justify;
}




